{% extends "base.html" %}
{% block title %} Simple Website{% endblock %}
{% block content %}
<!--------------------------->
<!-- Password JS -->
<!--------------------------->
<script src="{{url_for('static', filename='js/password.js')}}"></script>
<div class="row">
    <div class="col">
        <h1> Let's change your password {{ name }}</h1>
        
    </div>  
</div>
<div class="row">
<!--------------------------->
<!-- Change Password-->
<!--------------------------->
    <div class="col">
<form id="change_password" action="/password-change" method="POST">

    <label for="old-pass">Old Password:</label><br>
    <input type="password" id="old-pass" style="background-color: #f0f8ff;"placeholder="Password" ><br>
    <label for="new-pass">New Password: (12 Characters Min.)</label><br>
    <input type="password" id="new-pass" style="background-color: #f0f8ff;"placeholder="Password" ><br>
    <label for="verify-new-pass">New Password: Verify</label><br>
    <input type="password" id="verify-new-pass" style="background-color: #f0f8ff;"placeholder="Password" ><br>
    <button type="button" id="password_button" class="btn btn-default" value="button">Submit</button><br>
    <div id="passInfo" class="alert alert-info transition" role="alert" style="display:none;"></div><br>
    <div id="passSuccess" class="alert alert-success transition" role="alert" style="display:none;"></div><br>
    <div id="passError" class="alert alert-danger transition" role="alert" style="display:none;"></div><br>
</form>
</div>
{% endblock%}